extends layout

block content
  h1 Calculator
  p Pick dates you want to calculate hours spent in between

  div.box.date
    label
      input#start(type="text", placeholder="Start date", value="10/01/2013")
    label
      input#end(type="text", placeholder="End date", value="10/11/2013")
    label
      input#rate(type="number",placeholder="Hourly rate")

  div#filter.list.box


  div.box.result

    div#hours
      span 0
      |  timer i alt

    div#money
      span 0
      | ,- i alt

  div.docs

    table#formatted.box

      thead
        tr
          td Date
          td Summary
          td Hours

      tbody

      tfoot
        tr
          td(colspan=3)
            a(href="javascript:writeRawDocs()") Show raw documentation

    textarea#raw

  script(type="text/javascript")
    var events = !{JSON.stringify(calendar)};